<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Costo</th>
            <th>Talla</th>
            <th>Categoría</th>
        </tr>
    </thead>
    <tbody>
        {% for resultado in resultados %}
            <tr>
                <td>{{ resultado.nombre }}</td>
                <td>{{ resultado.costo }}</td>
                <td>{{ resultado.talla }}</td>
                <td>{{ resultado.categoria }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>